                                                                                                                                                                                                   
!  /$$   /$$  /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$  /$$   /$$  /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$$
! |  $$ /$$/ /$$__  $$ /$$__  $$ /$$_____/ /$$__  $$| $$  | $$ /$$__  $$ /$$_____/ /$$__  $$ /$$_____/
!  \  $$$$/ | $$  \__/| $$$$$$$$|  $$$$$$ | $$  \ $$| $$  | $$| $$  \__/| $$      | $$$$$$$$|  $$$$$$ 
!   >$$  $$ | $$      | $$_____/ \____  $$| $$  | $$| $$  | $$| $$      | $$      | $$_____/ \____  $$
!  /$$/\  $$| $$      |  $$$$$$$ /$$$$$$$/|  $$$$$$/|  $$$$$$/| $$      |  $$$$$$$|  $$$$$$$ /$$$$$$$/
! |__/  \__/|__/       \_______/|_______/  \______/  \______/ |__/       \_______/ \_______/|_______/ 

! special
*.foreground:   #cad3db
*.background:   #090b0d
*.cursorColor:  #cad3db

! black
*.color0:       #111416
*.color8:       #7a9e5d

! red
*.color1:       #1a1d20
*.color9:       #c28cda

! green
*.color2:       #292e32
*.color10:      #ec538e

! yellow
*.color3:       #3f474c
*.color11:      #66b7a8

! blue
*.color4:       #5c656d
*.color12:      #429183

! magenta
*.color5:       #7d8a94
*.color13:      #608a33

! cyan
*.color6:       #a4b5c2
*.color14:      #cd79ee

! white
*.color7:       #dee3e8
*.color15:      #e682a2

! other
*.cursorBlink       : 1
*.font              : xft:lucy tewi:size=8
*.boldFont          : xft:lucy tewi:size=8
*.lineSpace         : 0
*.letterSpace       : 1
*.scrollBar         : false
*.internalBorder    : 60
*.cursorUnderline   : true
*.geometry          : 65x10
*.thickness         : 5
*.titleBar          : false
*.intensityStyles   : false
*.perl-ext-common   : default,matcher,selection-to-clipboard
*.url-launcher      : opera
*.matcher.button    : 1