                                                                                                                                                                                                   
!  /$$   /$$  /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$  /$$   /$$  /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$$
! |  $$ /$$/ /$$__  $$ /$$__  $$ /$$_____/ /$$__  $$| $$  | $$ /$$__  $$ /$$_____/ /$$__  $$ /$$_____/
!  \  $$$$/ | $$  \__/| $$$$$$$$|  $$$$$$ | $$  \ $$| $$  | $$| $$  \__/| $$      | $$$$$$$$|  $$$$$$ 
!   >$$  $$ | $$      | $$_____/ \____  $$| $$  | $$| $$  | $$| $$      | $$      | $$_____/ \____  $$
!  /$$/\  $$| $$      |  $$$$$$$ /$$$$$$$/|  $$$$$$/|  $$$$$$/| $$      |  $$$$$$$|  $$$$$$$ /$$$$$$$/
! |__/  \__/|__/       \_______/|_______/  \______/  \______/ |__/       \_______/ \_______/|_______/ 

! special
*.foreground:   #c5c7bf
*.background:   rgba:0000/0000/0200/d100
*.cursorColor:  #c5c7bf

! black
*.color0:       #0e0e16
*.color8:       #1c1c2d

! red
*.color1:       #e9546b
*.color9:       #dc6a7d

! green
*.color2:       #6ee378
*.color10:      #b8e3a4

! yellow
*.color3:       #d4c96c
*.color11:      #c7dc97

! blue
*.color4:       #8099e2
*.color12:      #99bad2

! magenta
*.color5:       #aa6ebc
*.color13:      #c79bd6

! cyan
*.color6:       #80e9d4
*.color14:      #97f3e0

! white
*.color7:       #8a9aa9
*.color15:      #c4c4c4

! other
*.depth: 32
*.cursorBlink       : 1
*.font              : xft:creep:size=10
*.boldFont          : xft:creep:Bold:size=10
*.letterSpace       : 3
*.scrollBar         : false
*.internalBorder    : 25
*.cursorUnderline   : true
*.geometry          : 65x10
*.perl-ext-common   : selection-to-clipboard
*.url-launcher      : opera