<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="term">
			<action name="Execute">
				<execute>rxvt-unicode</execute>
			</action>
		</item>
		<item label="xres">
			<action name="Execute">
				<execute>xrdb .Xresources</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'openbox-menu' package to work -->
		<separator/>
		<menu id="root-menu-91212" label="ob">
			<item label="reconf">
				<action name="Reconfigure"/>
			</item>
			<item label="obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="die">
			<action name="Execute">
				<execute>shutdown now</execute>
			</action>
		</item>
		<item label="re">
			<action name="Restart"/>
		</item>
		<item label="out">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
