<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="menu">
		<item label="gedit">
			<action name="Execute">
				<execute>gedit</execute>
			</action>
		</item>
		<item label="oomox">
			<action name="Execute">
				<execute>oomox-gui</execute>
			</action>
		</item>
		<item label="files">
			<action name="Execute">
				<execute>nautilus</execute>
			</action>
		</item>
		<item label="firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'openbox-menu' package to work -->
		<item label="discord">
			<action name="Execute">
				<execute>discord-canary</execute>
			</action>
		</item>
		<item label="kawanime">
			<action name="Execute">
				<execute>kawanime</execute>
			</action>
		</item>
		<item label="minecraft">
			<action name="Execute">
				<execute>java -jar ~/Downloads/Minecraft.jar</execute>
			</action>
		</item>
		<item label="Xresources">
			<action name="Execute">
				<execute>xrdb ~/.Xresources</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-614219" label="office">
			<item label="word">
				<action name="Execute">
					<execute>lowriter</execute>
				</action>
			</item>
			<item label="powerpoint">
				<action name="Execute">
					<execute>loimpress</execute>
				</action>
			</item>
			<item label="excel">
				<action name="Execute">
					<execute>localc</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-72631" label="openbox">
			<item label="obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="reconf">
				<action name="Reconfigure"/>
			</item>
		</menu>
		<separator/>
		<item label="shut down">
			<action name="Execute">
				<execute>shutdown -P</execute>
			</action>
		</item>
		<item label="reboot">
			<action name="Execute">
				<execute>reboot</execute>
			</action>
		</item>
		<item label="logout">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
