<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<separator/>
		<item label="term">
			<action name="Execute">
				<execute>xterm</execute>
			</action>
		</item>
		<item label="opera">
			<action name="Execute">
				<execute>opera</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'openbox-menu' package to work -->
		<separator/>
		<menu id="root-menu-804619" label="ob">
			<item label="obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="reboot">
			<action name="Restart"/>
		</item>
		<item label="reconfigure">
			<action name="Reconfigure"/>
		</item>
		<separator/>
	</menu>
</openbox_menu>
